/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 4:13:24 PM
    Author     : clushbou
*/
.ui-datalist-data {
   height:450px;
   overflow:auto;
}

.detailList{
    height:120px;
    overflow: auto !important;
}
.resultList{
    height:10%;
}
.companyHeaderGrid tr {
    border: none;
}
.companyHeaderGrid td {
    border: none;
}
.noScrolllayoutUnit .ui-layout-unit-content{
    overflow: hidden;
    height: 15%;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;
}

.ui-layout-unit-content {
    overflow:visible !important;
}
.ui-autocomplete-input-token input {
    border: 0 none;
    width: 900px;
    outline: medium none;
    background-color: transparent;
    margin:2px;
}
.ui-autocomplete-multiple-container {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: auto;
    width: 100% !important;
}

.ui-editor{  width: 99.5% !important; } 
.ui-editor textArea{  width: 99.5% !important; } 
.ui-panelgrid tr, .ui-panelgrid td {
    border:0 !important;
}
.ui-menu .ui-separator { 
    background: #A8A8A8; 
    border: none; 
    width: 1px; 
    clear: none; 
    height: 22px; 
    margin: 4px 6px 0; 
    box-shadow: none; 
}
.searchClass{
    background-image: url(images/search.png)
}
.ui-icon-biology{
    width: 35px; 
    height: 35px; 
    background-image: url(images/biology_1.png) !important; 
}
.ui-icon-chemistry{
    width: 35px; 
    height: 35px; 
    background-image: url(images/chemistry.gif) !important; 
}
.ui-icon-math{
    width: 35px; 
    height: 35px; 
    background-image: url(images/math.gif) !important; 
}
.ui-icon-computer{
    width: 35px; 
    height: 35px; 
    background-image: url(images/computer.gif) !important; 
}
.ui-icon-informatics{
    width: 35px; 
    height: 35px; 
    background-image: url(images/informatics.png) !important; 
}
.ui-icon-medicine{
    width: 35px; 
    height: 35px; 
    background-image: url(images/medicine.gif) !important; 
}

.ui-icon-physics{
    width: 35px; 
    height: 35px; 
    background-image: url(images/physics.gif) !important; 
}
.ui-icon-alignment{
    width: 35px; 
    height: 35px; 
    background-image: url(images/alignment.gif) !important; 
}
.ui-icon-annotation{
    width: 35px; 
    height: 35px; 
    background-image: url(images/annotation.gif) !important; 
}

.ui-icon-assembly{
    width: 35px; 
    height: 35px; 
    background-image: url(images/assembly.gif) !important; 
}
.ui-icon-imaging{
    width: 35px; 
    height: 35px; 
    background-image: url(images/imaging.gif) !important; 
}
.ui-icon-mapping{
    width: 35px; 
    height: 35px; 
    background-image: url(images/mapping.gif) !important; 
}
.ui-icon-pathway{
    width: 35px; 
    height: 35px; 
    background-image: url(images/pathway.gif) !important; 
}
.ui-icon-sequencing{
    width: 35px; 
    height: 35px; 
    background-image: url(images/sequencing.gif) !important; 
}
.ui-icon-visualization{
    width: 35px; 
    height: 35px; 
    background-image: url(images/visualization.gif) !important; 
}
.ui-icon-data-format{
    width: 35px; 
    height: 35px; 
    background-image: url(images/dataFormat.png) !important; 
}
.ui-icon-data-format1{
    width: 18px; 
    height: 17px; 
    background-image: url(images/gear.gif) !important; 
}
.ui-icon-my-folder{
    width: 18px; 
    height: 22px; 
    background-image: url(images/folder.gif) !important; 
}
.listImage{
    background-image: url('../images/list_small.png') !important; 
    width: 28px;
    height: 28px;
}
.tableImage{
    background-image: url('../images/table_small.png') !important; 
    width: 28px;
    height: 28px;
}
.ui-widget,.ui-widget-content,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
    font-size: 14px !important;
}
.boldLabel{
    font-weight: bold;
}
.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}

.ui-datalist-data{
    border: none !important;
    font-size: 12px;
    margin: 5px;
    background: transparent;
    background-image: none;
}

.datalist-noborder .ui-widget-content {
    border: none;
    height: 50px;
    overflow: auto !important;
}
.commandLink:hover {

    background-color: #eeeeee !important;
}

