<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepositoryToolEntityCreateDlg" widgetVar="RepositoryToolEntityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRepositoryToolEntityTitle}">
            <h:form id="RepositoryToolEntityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{repositoryToolEntityController.selected != null}">
                 <!--       <p:outputLabel value="#{bundle.CreateRepositoryToolEntityLabel_id}" for="id" />
                        <p:inputText id="id" value="#{repositoryToolEntityController.selected.id}" title="#{bundle.CreateRepositoryToolEntityTitle_id}" required="true" requiredMessage="#{bundle.CreateRepositoryToolEntityRequiredMessage_id}"/>  -->
                        <p:outputLabel value="#{bundle.CreateRepositoryToolEntityLabel_toolId}" for="toolId" />
                        <p:selectOneMenu id="toolId" value="#{repositoryToolEntityController.selected.toolId}" required="true" requiredMessage="#{bundle.EditRepositoryToolEntityRequiredMessage_toolId}">
                            <f:selectItems value="#{toolBetsEntityController.itemsAvailableSelectOne}"
                                           var="toolIdItem"
                                           itemValue="#{toolIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRepositoryToolEntityLabel_repositoryId}" for="repositoryId" />
                        <p:selectOneMenu id="repositoryId" value="#{repositoryToolEntityController.selected.repositoryId}" required="true" requiredMessage="#{bundle.EditRepositoryToolEntityRequiredMessage_repositoryId}">
                            <f:selectItems value="#{repositoryEntityController.itemsAvailableSelectOne}"
                                           var="repositoryIdItem"
                                           itemValue="#{repositoryIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{repositoryToolEntityController.create}" value="#{bundle.Save}" update="display,:RepositoryToolEntityListForm:datalist,:growl" oncomplete="handleSubmit(args,'RepositoryToolEntityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RepositoryToolEntityCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
