<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRepositoryToolEntityTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RepositoryToolEntityListForm">
                <p:panel header="#{bundle.ListRepositoryToolEntityTitle}">
                    <p:dataTable id="datalist" value="#{repositoryToolEntityController.items}" var="item"
                                 selectionMode="single" selection="#{repositoryToolEntityController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepositoryToolEntityTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepositoryToolEntityTitle_toolId}"/>
                            </f:facet>
                            <h:outputText value="#{item.toolId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepositoryToolEntityTitle_repositoryId}"/>
                            </f:facet>
                            <h:outputText value="#{item.repositoryId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{repositoryToolEntityController.prepareCreate}" update=":RepositoryToolEntityCreateForm" oncomplete="PF('RepositoryToolEntityCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RepositoryToolEntityViewForm" oncomplete="PF('RepositoryToolEntityViewDialog').show()" disabled="#{empty repositoryToolEntityController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RepositoryToolEntityEditForm" oncomplete="PF('RepositoryToolEntityEditDialog').show()" disabled="#{empty repositoryToolEntityController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{repositoryToolEntityController.destroy}" update=":growl,datalist" disabled="#{empty repositoryToolEntityController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
