<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepositoryToolEntityViewDlg" widgetVar="RepositoryToolEntityViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRepositoryToolEntityTitle}">
            <h:form id="RepositoryToolEntityViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{repositoryToolEntityController.selected != null}">
                        <h:outputText value="#{bundle.ViewRepositoryToolEntityLabel_id}"/>
                        <h:outputText value="#{repositoryToolEntityController.selected.id}" title="#{bundle.ViewRepositoryToolEntityTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRepositoryToolEntityLabel_toolId}"/>
                        <h:outputText value="#{repositoryToolEntityController.selected.toolId}" title="#{bundle.ViewRepositoryToolEntityTitle_toolId}"/>
                        <h:outputText value="#{bundle.ViewRepositoryToolEntityLabel_repositoryId}"/>
                        <h:outputText value="#{repositoryToolEntityController.selected.repositoryId}" title="#{bundle.ViewRepositoryToolEntityTitle_repositoryId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RepositoryToolEntityViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
