<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepositoryEntityCreateDlg" widgetVar="RepositoryEntityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRepositoryEntityTitle}">
            <h:form id="RepositoryEntityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{repositoryEntityController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRepositoryEntityLabel_id}" for="id" />
                        <p:inputText id="id" value="#{repositoryEntityController.selected.id}" title="#{bundle.CreateRepositoryEntityTitle_id}" />   
                        <p:outputLabel value="#{bundle.CreateRepositoryEntityLabel_name}" for="name" />
                        <p:inputText id="name" value="#{repositoryEntityController.selected.name}" title="#{bundle.CreateRepositoryEntityTitle_name}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{repositoryEntityController.create}" value="#{bundle.Save}" update="display,:RepositoryEntityListForm:datalist,:growl" oncomplete="handleSubmit(args,'RepositoryEntityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RepositoryEntityCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
