<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepositoryEntityViewDlg" widgetVar="RepositoryEntityViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRepositoryEntityTitle}">
            <h:form id="RepositoryEntityViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{repositoryEntityController.selected != null}">
                        <h:outputText value="#{bundle.ViewRepositoryEntityLabel_id}"/>
                        <h:outputText value="#{repositoryEntityController.selected.id}" title="#{bundle.ViewRepositoryEntityTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRepositoryEntityLabel_name}"/>
                        <h:outputText value="#{repositoryEntityController.selected.name}" title="#{bundle.ViewRepositoryEntityTitle_name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RepositoryEntityViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
