<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:aui="http://liferay.com/faces/aui"
        xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:bridge="http://liferay.com/faces/bridge"
        xmlns:p="http://primefaces.org/ui" 
        xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog id="AboutDialogId" widgetVar="AboutDialog" modal="true" 
              resizable="false" appendTo="@(body)" header="About BioQuery Tool Discovery System">

        <p:outputPanel id="helpDetail" style="max-height:80vh; max-width: 80vw; overflow-y: scroll !important; overflow-x: scroll !important;">

            <p:panelGrid columns="1"  styleClass="companyHeaderGrid">
                <p:row>
                    
                    <p>The aim of our BioQuery Tool project is to address some of the Bioinformatics educational 
                        challenges by creating a comprehensive, annotated Bioinformatics analytic query tool library. </p>
                    <p>
                        <h4>BioQuery Tool Discovery System (Bio-TDS) Overview </h4>
                    </p>
                    <p/>

                    <p>The BioQuery Tool Discovery System (Bio-TDS) is comprised of a list of tool descriptions gathered from 
                        <a href="http://galaxy.org/" target="_blank" style="color:#3333dd">Galaxy </a>, 
                        <a href="http://www.iplantcollaborative.org/" target="_blank" style="color:#3333dd">iPlant Collaborative </a>, 
                        <a href="http://bioinformatics.ca/links_directory/" style="color:#3333dd" target="_blank">Bioinformatics Link Directory </a> which contains the Nucleic Acid Research Tool List,  
                        <a href="http://seqanswers.com/" style="color:#3333dd" target="_blank">SEQAnswers</a>, and 
                        <a href="http://omictools.com" target="_blank" style="color:#3333dd">OMIC Tools</a> by leveraging their respective API functionality.</p>
                    <p>An ontology annotation system has been added to the BLT to enable robust searching capabilities. 
                        The ontologies to be integrated into the annotation system are: EDAM , SWO, and NGSOnto. 
                        EDAM is an ontology of concepts that are prevalent within bioinformatics, 
                        including types of data, data identifiers, data formats, operations and topics (<a href="http://edamontology.org/" style="color:#3333dd" target="_blank">http://edamontology.org/</a>). 
                        The Software Ontology (SWO) is a resource for describing analytic tools, their types, tasks, versions, 
                        data requirements and provenance (<a href="http://theswo.sourceforge.net/" style="color:#3333dd" target="_blank">http://theswo.sourceforge.net/</a>). 
                        NGSOnto is an ontology to describe workflows from DNA extraction to contigs in a 
                        Whole Genome Sequence experiment (<a href="http://theswo.sourceforge.net/" style="color:#3333dd" target="_blank">http://darwin.phyloviz.net/~msilva/NGSonto/</a>). </p>
                    <p></p>

                    <h4>Bio-TDS Functionality</h4>
                    <p><img src="resources/images/overview.gif" style="width: 100%; height: auto;"/></p>
                    <p/>

                    <h4>Acknowledgements</h4><p/>
                    <p/>This work was supported by an Institutional Development Award (IDeA) 
                    from the National Institute of General Medical Sciences of the National Institutes of 
                    Health under grant number P20GM103443.  The content is solely the responsibility of 
                    the authors and does not necessarily represent the official views of the National 
                    Institutes of Health. Also supported by  the South Dakota National Science Foundation EPSCoR Award [
                    IIA-1355423] through BioSNTR.
 

 

                </p:row>
                <p:row>
                    <p:column style="border: none;">© 2016 South Dakota Biomedical Engineering</p:column>
                </p:row>
                <p:row>
                    <p:column><img src="images/epscor.gif" style="width:224px;height:64px;"/></p:column>
                    <p:column ><img src="images/nsf.gif" style="width:72px;height:66px;"/></p:column>
                    <p:column ><img src="images/brin.gif" style="width:328px;height:50px;"/></p:column>
                </p:row>

                <p></p>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>

</f:view>
