<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
        <ui:composition>
            <p:outputPanel id="browseToUpdate" style="width: 100%;" rendered="#{termQueryBean.browsePanelView}">
                <p:panel id="domainInfo" rendered="#{termQueryBean.browseView}">
                    <h:form id="domain-form" style="border: 1px;">

                        <p:panelGrid style="margin:1% ; margin-left: 2%; margin-right: 2%; height: 95%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="6" style="font-size: 1.25em;">Browse  #{termQueryBean.numberOfTools} Bioinformatics Tools  Leveraging Domain Ontologies (e.g. EDAM, SWO and NGSonto)</p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2"></p:column>
                                    <p:column colspan="2"></p:column>
                                    <p:column colspan="2"></p:column>
                                </p:row>

                            </f:facet>

                            <p:row>
                                <p:column style="font-weight: bold; height: 30%;" styleClass="commandLink" colspan="1">
                                    <p:commandLink id="domainLink" styleClass="commandLink"  action="#{termQueryBean.domain()}" update=":browseToUpdate">
                                        <h:graphicImage value="resources/images/domain.gif" style="width:99px;height:101px;" />
                                    </p:commandLink>
                                </p:column>
                                <p:column style="font-weight: bold; text-align: left; " colspan="5" styleClass="commandLink">
                                    <p:commandLink id="domainLinkText" styleClass="commandLink" action="#{termQueryBean.domain()}" update=":browseToUpdate">
                                        <h:outputLabel style="font-weight: bold; height: 100%; font-size: 16px;" >
                                            <font size="5" color="#990044">Domains</font> -  a field of study that defines a set of common requirements, 
                                            terminology, and functionality for any software program constructed 
                                            to solve a problem in a given field
                                        </h:outputLabel> 
                                    </p:commandLink>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="6" styleClass="ui-widget-header">
                                    <p:spacer height="0"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-weight: bold;" colspan="1" styleClass="commandLink">
                                    <p:commandLink id="methodLink" styleClass="commandLink"  action="#{termQueryBean.method()}" update=":browseToUpdate">
                                        <h:graphicImage value="resources/images/method_1.gif" style="width:97px;height:101px;" />
                                    </p:commandLink>       
                                </p:column>
                                <p:column style="font-weight: bold; text-align: left;" colspan="5" styleClass="commandLink">
                                    <p:commandLink id="methodLinkText" styleClass="commandLink" action="#{termQueryBean.method()}" update=":browseToUpdate">
                                        <h:outputLabel style="font-weight: bold; font-size: 16px;">
                                            <font size="5" color="#990044">Methods</font> -  procedures that are used to study life science. 
                                            This includes experimental and computational approaches for life science research.
                                        </h:outputLabel>  
                                    </p:commandLink>
                                </p:column>

                            </p:row>
                            <p:row>
                                <p:column colspan="6" styleClass="ui-widget-header">
                                    <p:spacer height="0"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-weight: bold; height: 45%;" styleClass="commandLink" colspan="1">
                                    <p:commandLink id="dataFormatLink" styleClass="commandLink"  action="#{termQueryBean.dataFormat()}" update=":browseToUpdate">
                                        <h:graphicImage value="resources/images/format.gif" style="width:97px;height:99px;" />
                                    </p:commandLink>
                                </p:column>
                                <p:column style="font-weight: bold; text-align: left; " colspan="5" styleClass="commandLink">
                                    <p:commandLink id="dataFormatText" styleClass="commandLink" action="#{termQueryBean.dataFormat()}" update=":browseToUpdate">
                                        <h:outputLabel style="font-weight: bold; height: 100%; font-size: 16px;" >
                                            <font size="5" color="#990044">Data Formats</font> -  a list of some of the most common file formats used in Bioinformatics 
                                            including various data file formats, alignment file formats, and annotation file formats.
                                        </h:outputLabel> 
                                    </p:commandLink>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="6" styleClass="ui-widget-header">
                                    <p:spacer height="0"/>
                                </p:column>
                            </p:row>

                            <f:facet name="footer">
                                <p:row>
                                    <p:column  colspan="7" style="text-align: right">

                                    </p:column>
                                </p:row>
                            </f:facet>
                        </p:panelGrid>
                    </h:form>
                </p:panel>
                <ui:include src="domain.xhtml" />
                <ui:include src="method.xhtml" />
                <ui:include src="dataFormat.xhtml" />
            </p:outputPanel>
        </ui:composition>
    </body>
</html>
