<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
        <ui:composition>
            <h:form id="search-form" style="alignment-adjust: central; "
                    onkeypress="if (event.keyCode === 13) {
                                document.getElementById('search-form:searchActionLink').click();
                                return false;
                            }">
                <p:panel id="search-panel" header="Search our Tool Database" style="margin-left: 7.5%; margin-right: 7.5%">
                    <p:messages id="messages" />
                    <h:panelGrid cellpadding="5">
                        <p:row>
                            <p:autoComplete id="autocomplete" multiple="true" value="#{termQueryBean.chosenTerms}"
                                            completeMethod="#{termQueryBean.completeTerm}" var="term" itemLabel="#{term}"
                                            itemValue="#{term}" forceSelection="false" scrollHeight="400"
                                            minQueryLength="3" style="width: 100%">                      
                                <h:inputText id="selection" value="#{term}"  />

                                <p:ajax event="itemSelect" listener="#{termQueryBean.handleSelect}"  />
                                <p:ajax event="itemUnselect" listener="#{termQueryBean.handleUnselect}" />
                            </p:autoComplete>
                            <h:outputText style="font-size: .75em;"
                                          value="Enter search query as free text, keywords (e.g. 'RNA Sequence', 'Multiple Sequence Alignment') and/or select from options."
                                          />
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputText id="displayquery" style="font-size: 1em; font-weight: bold; float: left; " 
                                              value="#{termQueryBean.displayQuery}"  />
                            </p:column>
                            <p:column>
                                <p:commandButton id="searchButton" oncomplete="PF('dataresult').paginator.setPage(0)"
                                                 value="Search" style="float: right" action="#{termQueryBean.search(true)}"
                                                 ajax="true" update=":search-form displayquery :searchToUpdate" 
                                                 title="Search the Database"/>
                            </p:column>
                            <p:column>
                                <p:commandButton id="clearQuery" value="Clear Query"
                                                 action="index.xhtml" update="search-form :searchToUpdate :browseToUpdate" 
                                                 title="Clear current query data" style="float: right"/>
                            </p:column>
                            <p:column>
                                <p:selectBooleanButton id="value2" value="#{termQueryBean.viewList}" onLabel="" offLabel="" onIcon="listImage" 
                                                       offIcon="tableImage" title="Switch results between grid and list views"
                                                       style="width:24px; height: 24px; float: right; padding-left: 5px; padding-right: 5px;">
                                    <p:ajax listener="#{termQueryBean.switchView}"  update=":results-form :results-table-form" />
                                </p:selectBooleanButton>
                            </p:column>
                        </p:row>
                    </h:panelGrid>
                </p:panel>

            </h:form>
        </ui:composition>
    </body>
</html>
