<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
        <ui:composition>
            <p:separator style="margin-top: 1.25em; width: 85%; height: 1px"/>
            <p:panelGrid id="footerPanelGrid" styleClass="companyHeaderGrid" columns="1"
                         layout="grid" style="margin-left: 5%; margin-right: 5%; width: 90%; border: none;">
                <p:row>
                    <p:column colspan="1">© 2016 University of South Dakota Biomedical Engineering</p:column>
                </p:row>
                <p:row style="width: inherit;" >
                    <p:panelGrid layout="grid" columns="4" styleClass="footerPanelGrid" style="border: none; width: inherit;">
                    <p:column styleClass="ui-grid-col-3" ><img src="images/brin.gif" style="width :232px; height: 50px;"/></p:column>
                    <p:column styleClass="ui-grid-col-3" ><img src="images/nsf.gif" class="center" style="width: 72px; height: 66px;"/></p:column>
                    <p:column styleClass="ui-grid-col-3" ><img src="images/epscor.gif" class="center" style="width: 112px; height: 32px;"/></p:column>
                    <p:column styleClass="ui-grid-col-3" ><img src="images/BioSNTR.gif" class="right" style="width: 100px; height: 33px;"/></p:column>
                    </p:panelGrid>
                </p:row>
            </p:panelGrid>
        </ui:composition>
    </body>
</html>
