<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
        <ui:composition>
            <h:form>
                <p:panelGrid  style="margin-left: 5%; margin-right: 5%; margin-top:1%; width:90%; border: none;" >
                    <p:row>
                        <p:column style="float: left"> 
                            <img src="images/cloud Light Blue.png" style="width:57px;height:44px;"/><font size="5" style="font-weight: bold" color="#990044">BioQuery</font> <font size="5" style="font-weight: bold" >Tool Discovery System </font>
                        </p:column>
                        <p:column style="float: right">
                            <p:menubar style="border: none">
                                <p:menuitem value="Home" outcome="index.xhtml" actionListener="#{termQueryBean.setupHomepage}"/>
                                <p:separator style="width: 1px; height: 30px; clear: right"/>
                                <p:menuitem value="Browse" actionListener="#{termQueryBean.browse}" outcome="/browse.xhtml"/>
                                <p:separator style="width: 1px; height: 30px; clear: right"/>
                                <p:submenu label="Help">
                                    <p:menuitem value="Getting Started" url="help/gettingstarted.xhtml" ajax="false" target="_blank"/>
                                    <p:menuitem value="Videos" url="help/videos.xhtml" ajax="false" target="_blank"/>
                                    <p:menuitem value="Supporting Material" url="help/supporting.xhtml" ajax="false" target="_blank"/> 
                                    <p:menuitem value="About" onclick="PF('AboutDialog').show()"/>
                                </p:submenu>
                                <p:separator style="width: 1px; height: 30px; clear: right"/>
                            </p:menubar>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator style="margin-top: 15px; width: 85%; height: 1px"/>
            </h:form>
        </ui:composition>
    </body>
</html>
