<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title>BioQueryTool - USD BME</title>
        <h:outputStylesheet name="common-style.css" library="css" />
    </h:head>

    <h:body>

        <div id="page">

            <div id="header">
                <ui:insert name="header" >
                    <ui:include src="/content/commonHeader.xhtml" />
                </ui:insert>
            </div>

            <div id='searchbox'>
                <ui:insert name="searchbox" />
            </div>

            <div id="content">
                <ui:insert name="content" />
            </div>

            <div id="footer">
                <ui:insert name="footer" >
                    <ui:include src="/content/commonFooter.xhtml" />
                </ui:insert>
            </div>

        </div>
        <ui:include src="/content/dialogBox.xhtml" />
        <ui:include src="/content/viewJson.xhtml" />
        <ui:include src="/content/about.xhtml" />

    </h:body>
</html>
