<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="tool-dialog" header="Tool Details" widgetVar="toolDialog" resizable="false" 
                  appendTo="@(body)"  modal="true" width="840" closeOnEscape="true"
                  style="max-height: 95vh; max-width: 95vw;" >
            <h:form id="toolDetail" style="max-height: 90vh; height: inherit;" >
                <p:outputPanel id="toolDetail" style="height: inherit;">
                    <p:commandButton id="AgaveFileViewDialogButton" icon="ui-icon-plus" value="View Complete BETS"
                                     update=":viewFileForm"  oncomplete="PF('AgaveFileViewDialog').show()"
                                     actionListener="#{termQueryBean.prepareBETS}" />
                    <p:panelGrid columns="2" rendered="#{not empty termQueryBean.selectedTool}" columnClasses="label,value">
                        <p:outputLabel value="Id: " styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.id}" />
                        <p:outputLabel value="Name: " styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.name}" />
                        <p:outputLabel value="Author: " styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.author}" />
                        <p:outputLabel value="Description: "  styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.description}" />
                        <p:outputLabel value="Links"  styleClass="boldLabel" />
                        <p:dataList value="#{termQueryBean.selectedTool.links}" var="link" class="detailList" type="definition">
                            <f:facet name="header">
                                Links
                            </f:facet>
                            <h:outputLink value="#{link}" target="_blank" >
                                <h:outputText value="#{link}" />
                            </h:outputLink>
                        </p:dataList>

                        <p:outputLabel value="Citations: "  styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.citations}" />

                        <p:outputLabel value="Inputs: "  styleClass="boldLabel" />
                        <p:dataList value="#{termQueryBean.selectedTool.inputs}" var="input" class="detailList" type="definition">
                            <f:facet name="header">
                                Inputs
                            </f:facet>
                            #{input.displayParameter}
                        </p:dataList>

                        <p:outputLabel value="Parameters: "  styleClass="boldLabel" />
                        <p:dataList value="#{termQueryBean.selectedTool.parameters}" var="parameter" class="detailList" type="definition">
                            <f:facet name="header">
                                Parameters
                            </f:facet>
                            #{parameter.displayParameter}
                        </p:dataList>

                        <p:outputLabel value="Summary: "  styleClass="boldLabel" />
                        <h:outputText value="#{termQueryBean.selectedTool.summary}" />
                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
