<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:panel id="browseInfo" rendered="#{termQueryBean.domainView}">
            <p:growl id="messages" showDetail="true" />
            <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-4, ui-grid-col-8" style="margin:1em; margin-left: 2%; margin-right: 2%; height: 95%;" >
                <f:facet name="header">
                    <p:row>
                        <p:column colspan="2" style="font-size: 1.5em;">Browse By Domain</p:column>
                    </p:row>

                </f:facet>

                <p:column id="panelLeft" >

                    <p:outputPanel style="height: 100%;">
                        <h:form id="browse-tree" style="height: inherit;">
                            <p:tree style="width: inherit; height: inherit;"
                                    value="#{termQueryBean.domainTree.root}" var="node"
                                    selectionMode="single" selection="#{termQueryBean.selectedNode}"
                                    dynamic="false" >
                                <p:ajax event="select" listener="#{termQueryBean.onNodeSelect}"
                                        update=":browse-data-form"/>
                                <p:treeNode icon="#{node.icon}" >
                                    <h:outputText value="#{node.label}" />
                                </p:treeNode>
                            </p:tree>
                        </h:form> 
                    </p:outputPanel>

                </p:column>
                <p:column id="panelRight" style="font-weight: bold; alignment-adjust: central; " >
                        <h:form id="browse-data-form">
                            <p:dataList id="data" value="#{termQueryBean.lazyToolResult}"
                                        var="tool" type="definition" paginator="true"
                                        lazy="true" rows="10" styleClass="paginated" >
                                <f:facet name="header">Results: #{termQueryBean.lazyToolResult.rowCount}</f:facet>
                                <p:commandLink update=":toolDetail" oncomplete="PF('toolDialog').show()" 
                                               title="View Tool Details" value="#{tool.name}"
                                               style="font-size: 1.5em; font-family: Calibri; color: blue;" >
                                    <f:setPropertyActionListener value="#{tool}" target="#{termQueryBean.selectedTool}" />
                                </p:commandLink> 
                                <h:outputText value="#{tool.subSummary}"
                                              style="margin-left: 1em; font-size: 1.25em; font-family:Calibri" />
                                <h:outputText id="ellipsis" value=" ... " rendered="#{tool.longSummary()}" /><p/>
                            </p:dataList>
                        </h:form>
                </p:column>
                <f:facet name="footer">
                    <p:row>
                        <p:column colspan="2" style="text-align: right"></p:column>
                    </p:row>
                </f:facet>
            </p:panelGrid>
        </p:panel>

    </ui:composition>

</html>