<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
        <ui:composition>
            <p:outputPanel id="searchToUpdate" style="height:90%; margin-left: 7.5%; margin-right: 7.5%" >
                <ui:include src="browsePanel.xhtml" />
                <p:panel id="searchInfo" rendered="#{termQueryBean.searchView}">


                    <h:form id="results-form" >
                        <p:dataList id="dataresultlist" widgetVar="dataresult" class="search"
                                    value="#{termQueryBean.lazyToolResult}" var="tool"
                                    type="definition" paginator="true" lazy="true"
                                    rows="15" styleClass="paginated" rendered="#{termQueryBean.renderSearchList}" >
                            <f:facet name="header">Results: #{termQueryBean.lazyToolResult.rowCount}</f:facet>
                            <p:commandLink update=":toolDetail" oncomplete="PF('toolDialog').show()" 
                                           title="View Tool Details" value="#{tool.name}"
                                           style="font-size: 1.5em; font-family: Calibri; color: blue;" >
                                <f:setPropertyActionListener value="#{tool}" target="#{termQueryBean.selectedTool}" />
                            </p:commandLink> 
                            <h:outputText value="#{tool.subSummary}" 
                                          style="margin-left: .75em; font-size: 1.25em; font-family: Calibri" />
                            <h:outputText id="ellipsis" value=" ... " rendered="#{tool.longSummary()}" /><p/>
                        </p:dataList>
                    </h:form>


                    <h:form id="results-table-form" >
                        <p:dataTable id="data" value="#{termQueryBean.lazyToolResult}"
                                     var="tool" paginator="true" lazy="true" rows="10"
                                     styleClass="paginated  toolData"  rendered="#{termQueryBean.renderSearchTable}">
                            <f:facet name="header">Results: #{termQueryBean.lazyToolResult.rowCount}</f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tool Name" style="font-weight: bold;"/>
                                </f:facet>
                                <p:commandLink update=":toolDetail" oncomplete="PF('toolDialog').show()" 
                                               title="View Tool Details" value="#{tool.name}"
                                               style="font-size: 1.5em; font-family: Calibri; color: blue;" >
                                    <f:setPropertyActionListener value="#{tool}" target="#{termQueryBean.selectedTool}" />
                                </p:commandLink> 
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Version" style="font-weight: bold;"/>
                                </f:facet>

                                <h:outputText value="#{tool.version}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Domains" style="font-weight: bold;"/>
                                </f:facet>
                                <div class="datalist-noborder">
                                    <p:dataList id="domains" value="#{tool.domains}" var="domain" type="definition" >
                                        #{domain}
                                    </p:dataList>
                                </div>
                            </p:column>
                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="Applications" style="font-weight: bold;"/>
                                </f:facet>
                                <div class="datalist-noborder">
                                    <p:dataList value="#{tool.applicationList}" var="app" type="definition" >
                                        #{app}
                                    </p:dataList>
                                </div>
                            </p:column>
                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="Methods" style="font-weight: bold;"/>
                                </f:facet>
                                <div class="datalist-noborder">
                                    <p:dataList value="#{tool.methods}" var="method" type="definition" >
                                        #{method}
                                    </p:dataList>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Repository" style="font-weight: bold;"/>
                                </f:facet>

                                <h:outputText value="#{tool.originationRepository}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panel>
            </p:outputPanel>
        </ui:composition>
    </body>
</html>
