<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AgaveFileViewId" widgetVar="AgaveFileViewDialog" modal="true"
                  appendTo="@(body)" header="View File" resizable="false" closeOnEscape="true"
                  width="650" style="max-width: 95vw; max-height: 98vh;" position="top" >
            <h:form id="viewFileForm" style="max-height: 90vh; height: inherit;">
                <p:outputPanel style="height: inherit;">
                <p:inputTextarea
                    value="#{termQueryBean.currentBETS}" 
                    readonly="true"
                    style="font-family:'Courier New', Courier, 'Lucida Sans Typewriter',
                    'Lucida Typewriter', monospace; font-size: 1.1em; width: 100%"/> 
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>