<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
    <ui:define name="body">
        <h:panelGroup style="display:block; text-align:center">
            <h2><a id="REST_Endpoints_1"></a>REST Endpoints</h2>
            <h3><a id="Base_URL_httpjacksonsusdeduBTLREST_3"></a>Base URL <a href="http://jacksons.usd.edu/BTL-REST">http://jacksons.usd.edu/BTL-REST</a></h3>
            <p:panelGrid style="text-align: center; margin: 0 auto">
                <f:facet name="header">
                    <p:row>
                        <p:column>URL</p:column>
                        <p:column>HTTP VERB</p:column>
                        <p:column>Returns</p:column>
                    </p:row>
                </f:facet>
                <p:row>
                    <p:column colspan="3">Tools</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/</p:column>
                    <p:column>GET</p:column>
                    <p:column>Disabled - Get ranges instead - List of All Tools</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/{id}</p:column>
                    <p:column>GET</p:column>
                    <p:column>Tool by ID</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/{from}/{to}</p:column>
                    <p:column>GET</p:column>
                    <p:column>Tools within a range</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/count</p:column>
                    <p:column>GET</p:column>
                    <p:column>Count of All Tools</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/names</p:column>
                    <p:column>GET</p:column>
                    <p:column>All Tool Names</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/tools/summaries</p:column>
                    <p:column>GET</p:column>
                    <p:column>All Tool Summaries</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="3">BETS</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bets/</p:column>
                    <p:column>GET</p:column>
                    <p:column>Disabled - Get individual bets - All BETS data for each tools</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bets/{id}</p:column>
                    <p:column>GET</p:column>
                    <p:column>BETS for tool by ID</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bets/inputs/{id}</p:column>
                    <p:column>GET</p:column>
                    <p:column>Inputs for Tool by ID</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="3">Bridges</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bridges/</p:column>
                    <p:column>GET</p:column>
                    <p:column>All Bridges data</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bridges/{id}</p:column>
                    <p:column>GET</p:column>
                    <p:column>Bridge by ID</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bets/{from}/{to}</p:column>
                    <p:column>GET</p:column>
                    <p:column>Bridges within a range</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/bets/count</p:column>
                    <p:column>GET</p:column>
                    <p:column>Count of the Bridges</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="3">Repositories</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/repos/</p:column>
                    <p:column>GET</p:column>
                    <p:column>List of the Repositories our tools came from</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/repos/tools</p:column>
                    <p:column>GET</p:column>
                    <p:column>List of Every Tool ID and its Repo ID</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/repos/tools/{id}</p:column>
                    <p:column>GET</p:column>
                    <p:column>ResourceTool by ID</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/repos/getbytoolids</p:column>
                    <p:column>GET</p:column>
                    <p:column>Get example JSON for posting</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/repos/getbytoolids</p:column>
                    <p:column>POST</p:column>
                    <p:column>Post an array of tool ids to get their repository names</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="3">Storing Bridges or Tools (these are normally disabled)</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-bridges</p:column>
                    <p:column>GET</p:column>
                    <p:column>An example Bridge JSON to POST</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-bridges</p:column>
                    <p:column>POST</p:column>
                    <p:column>Returns the URI of the created bridge</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-bridges/list</p:column>
                    <p:column>POST</p:column>
                    <p:column>Disabled</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-bridges/{id}</p:column>
                    <p:column>POST</p:column>
                    <p:column>Accepted if it updates the bridge id specified</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-tools</p:column>
                    <p:column>GET</p:column>
                    <p:column>Returns an example Tool JSON to Post</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-tools</p:column>
                    <p:column>POST</p:column>
                    <p:column>Disabled</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-tools/list</p:column>
                    <p:column>POST</p:column>
                    <p:column>Disabled</p:column>
                </p:row>
                <p:row>
                    <p:column>/resources/store-tools/{id}</p:column>
                    <p:column>POST</p:column>
                    <p:column>Accepted if it updates the tool id specified</p:column>
                </p:row>
            </p:panelGrid>
        </h:panelGroup>
        <p style="text-align: center">*Subject to change</p>
        <p style="text-align: center">*Query parameter 'PrettyPrint=true' will return prettified JSON</p>
    </ui:define>
</ui:composition>
