<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <!--<Bio Tool Library
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        h:link outcome="/toolBetsEntity/List" value="Show All ToolBetsEntity Items"/>
        <br />
        <h:link outcome="/toolBridgeEntity/List" value="Show All ToolBridgeEntity Items"/>
        <br />
        <h:link outcome="/repositoryEntity/List" value="Show All RepositoryEntity Items"/>
        <br />
        <h:link outcome="/repositoryToolEntity/List" value="Show All RepositoryToolEntity Items"/>-->
    </h:body>




</html>

