/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2016, 10:49:35 AM
    Author     : clushbou
*/
.supportPanel{
    border: none; 
    background-color: #990044; 
    font-weight: bold;
    font-size:20px;
}
.whiteFont{
    color:white;
}
tr{
    height: 40px;
}
td{
    margin: 20px;
}