<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:body>
        <ui:composition template="content/commonLayout.xhtml">
            <ui:define name="searchbox">
                <ui:include src="content/commonSearch.xhtml" />
            </ui:define>
            <ui:define name="content" >
                <ui:include src="content/results.xhtml" />
            </ui:define>
        </ui:composition>
    </h:body>
</html>
