<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title><ui:insert name="title">BTL - Bioinformatics Tool Library</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <!--<h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="ToolBetsEntity" outcome="/toolBetsEntity/List.xhtml" />
                            <p:menuitem value="ToolBridgeEntity" outcome="/toolBridgeEntity/List.xhtml" />
                            <p:menuitem value="RepositoryEntity" outcome="/repositoryEntity/List.xhtml" />
                            <p:menuitem value="RepositoryToolEntity" outcome="/repositoryToolEntity/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>-->
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
                <p style="text-align: right">The University of South Dakota</p>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                    <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
