<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ToolBetsEntityCreateDlg" widgetVar="ToolBetsEntityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateToolBetsEntityTitle}">
            <h:form id="ToolBetsEntityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{toolBetsEntityController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateToolBetsEntityLabel_id}" for="id" />
                        <p:inputText id="id" value="#{toolBetsEntityController.selected.id}" title="#{bundle.CreateToolBetsEntityTitle_id}" required="true" requiredMessage="#{bundle.CreateToolBetsEntityRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateToolBetsEntityLabel_name}" for="name" />
                        <p:inputText id="name" value="#{toolBetsEntityController.selected.name}" title="#{bundle.CreateToolBetsEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateToolBetsEntityRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateToolBetsEntityLabel_version}" for="version" />
                        <p:inputText id="version" value="#{toolBetsEntityController.selected.version}" title="#{bundle.CreateToolBetsEntityTitle_version}" />
                        <p:outputLabel value="#{bundle.CreateToolBetsEntityLabel_summary}" for="summary" />
                        <p:inputTextarea rows="4" cols="30" id="summary" value="#{toolBetsEntityController.selected.summary}" title="#{bundle.CreateToolBetsEntityTitle_summary}" />
                        <p:outputLabel value="#{bundle.CreateToolBetsEntityLabel_bets}" for="bets" />
                        <p:inputTextarea rows="4" cols="30" id="bets" value="#{toolBetsEntityController.selected.bets}" title="#{bundle.CreateToolBetsEntityTitle_bets}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{toolBetsEntityController.create}" value="#{bundle.Save}" update="display,:ToolBetsEntityListForm:datalist,:growl" oncomplete="handleSubmit(args,'ToolBetsEntityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ToolBetsEntityCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
